
<div class="col-xs-12">
  <div class="tab-content">
    <div class="tab-pane active" id="pages-tab">
      <%= render partial: "admin/page/index", locals: {pages: @pages} %>
    </div>

  </div>
</div>
