<% breadcrumb :page, @page %>

<div class="col-xs-12">
  <div class="card card-block">
    <h1 class="text-uppercase"><%= @page.link_name %></h1>
  </div>

  <%= render "admin/page/partials/#{@page.name}" %>

</div>
