<nav id="navbar">
  <%= render partial: 'shared/navigation', locals: {pages: @pages, menus: @menus} %>
</nav>

<div id="main-block">
  <div id="mobile-nav"></div>

  <div id="content"></div>

</div>

<%= render partial: 'main/partials/footer' %>
<%= render partial: 'main/partials/contact' %>
