<div class="mobile-nav-wrap">
  <div id="mobile-nav"></div>
</div>

<nav id="navbar" class="navbar navbar-full navbar-fixed-top"></nav>

<div id="main-wrap" class="container container-main">

  <div class="card card-block shadow">
    <div id="landing" class="jumbotron" style="background-image: url(<%= @landing ? @landing.image.url : '' %>)">
      <img src="/images/logo/bangarang_catering_logo_white.svg" />
      <h1><%= @landing ? @landing.heading.html_safe : 'catering & event services' %></h1>
    </div>
  </div>

  <div id="content"></div>

  <div class="card card-block shadow">
    <div id="contact"></div>
    <div id="footer"></div>
  </div>

</div>
