<nav id="navbar"></nav>

<div id="main-block">
  <div id="mobile-nav"></div>

  <%= render partial: 'main/partials/landing', locals: { landing: @landing } %>
  <%= render partial: 'main/partials/address_link', locals: { address: @food_truck_address } %>

  <div id="content"></div>

</div>

<%= render partial: 'main/partials/footer' %>
<%= render partial: 'main/partials/contact' %>
