<div class="mobile-nav-wrap">
  <div id="mobile-nav"></div>
</div>

<nav id="navbar" class="navbar navbar-full navbar-fixed-top"></nav>

<div id="main-wrap" class="container-fluid">

      <div class="card card-block">
        <div id="landing" class="jumbotron">
          <h1 class="text-xs-center">
            catering & <br>
            event services.
          </h1>
        </div>
      </div>

      <div class="card card-block">
        <div id="content" class=""></div>
      </div>


      <div class="card card-block">
        <section id="contact" class=""></section>
        <div id="footer" class=""></div>
      </div>

</div>
