#about {
  background-color: transparent;
  color: #444;
  border-radius: 1px;
  .h {
    margin-bottom: 2rem;
    color: #444;
    text-align: center;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: capitalize;
  }
}
.about-content {
  @include short-flex(column nowrap, center, center);
  h3 {
    font-weight: 400;
    margin-bottom: 2rem;
    color: #444;
  }
  p {
    color: #444;
  }
}
.headshot {
  display: block;
  width: 12rem;
  height: 12rem;
  margin: 1rem auto;
  border-radius: 50%;
  background-color: $headshot-img-bg-color;
  background-position: center;
  background-size: cover;
  background: transparent;
}

.section-block {
  margin-bottom: 1rem;
  background-color: #111;
}

.about-card {
  border: none;
  background: #eee;
}
