#about {
  background-color: $about-bg-color;
  color: transparentize(#fff, 0.05);
  font-size: 1.2em;
  letter-spacing: 2px;
  .section-inner {
    h3 {
      color: transparentize(#fff, 0.05);
    }
  }
}
.about-item {
  @include short-flex(column nowrap, flex-start, center);
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  @include media-breakpoint-up(lg) {
    width: 50%;
  }
  &:nth-of-type(2) .headshot {
    background-image: url("/images/headshot_01.jpg");
  }
  &:nth-of-type(1) .headshot {
    background-image: url("/images/headshot_02.jpg");
  }
}
.about-content {
  @include short-flex(column nowrap, center, center);
  @include media-breakpoint-down(md) {
    padding: 0rem 5rem;
  }
}
.headshot {
  width: 12rem;
  height: 12rem;
  margin: 1rem 0rem;
  border-radius: 50%;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  border: 2px solid transparentize(#fff, 0.05);
}
