#contact {
  background-color: $contact-bg-color;
}
.contact-item {
  @include short-flex(column nowrap, space-between, center);
  text-align: center;
  margin: 0 1rem;
  width: 21.25rem;
  padding: 1rem;
  border-radius: 3px;
  a {
    font-size: 1.5em;
  }
}
.social-links {
  @include short-flex(row wrap, center);
  width: 100%;
  text-align: center;
  font-size: 2.4em;
  a {
    @include short-flex(row nowrap, center, center);
    width: 2.1em;
    height: 2.1em;
    margin: 0 1rem;
    border-radius: 50%;
    border: 2px solid transparentize(#fff , 0.03);
    background-color: $transparent-brand-primary;
    i {
      color: #fff;
    }
    &:hover {
      background-color: lighten($transparent-brand-primary, 10%);
    }
  }
}
.name {
  font-weight: normal;
}
.hr-fade {
  margin: 25px 0;
  height: 1px;
  width: 70%;
  background: #888;
  @include line-fade();
}
