#featured {
  width: 100%;
  background-color: transparent;
  h4 {
    text-transform: capitalize;
    color: $brand-secondary;
    letter-spacing: 1px;
  }
  hr {
    width: 100%;
    margin: 0.5rem auto;
    border-bottom: solid 1px #222;
  }
}

.card-featured {
  border: none;
  background-color: transparent;
  border-color: transparent;
}

%featured-item {
  @extend .card;
  position: relative;
  border-color: $card-border-color;
  background-color: transparent;
  &:hover {
    .roll-over-link {
      opacity: 1;
    }
  }
}
.roll-over-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1px;
  right: 1px;
  opacity: 0;
  height: 2rem;
  width: 2rem;
  color: $brand-secondary;
  background-color: transparentize(#1a1a1a, 0.05);
  transition: all 0.2s ease-out;
}
.featured-icon {
  font-size: 1rem;
  margin-left: 0.15rem;
}

.featured-item-text {
  text-transform: none;
}

.featured-block {
  background-color: $card-bg-color;
}

.featured-img {
  border-bottom: 1px solid $card-border-color;
}
.card-columns {
  @include media-breakpoint-up(sm) {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}

.featured-item-text {
  color: $color-one;
}

.featured-item-card {
  @extend %featured-item;
}

.featured-item-card-no-link {
  @extend %featured-item;
}

.featured-media {
  background: transparent;
}

.featured-media-image {
  width: 30%;
}

.featured-img {
  filter: sepia(0.5);
}

#instafeed {
  display: flex;
  flex-flow: row wrap;
  max-width: 50%;
  width: 50%;
  min-height: 20rem;
}

.featured-wrap {
  width: 100%;
  padding-bottom: 1rem;
}

.card-featured {
  background: transparent;
  display: flex;
  flex-flow: row wrap;
}

.featured-header {
  width: 100%;
}
