#featured {
  width: 100%;
  background-color: transparent;
  h4 {
    text-transform: capitalize;
  }
}

.card-featured {
  background-color: transparent;
  border-color: transparent;
}

.featured-item {
  position: relative;
  border-color: #000;
  background-color: transparent;
  transition: all 0.2s ease;
  .roll-over-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    height: 2rem;
    width: 2rem;
    color: $brand-secondary;
    background-color: transparentize(#000, 0.25);
    transition: all 0.4s ease;
  }
  &:hover {
    background-color: #222;
    .roll-over-link {
      opacity: 1;
    }
  }
  &.no-link:hover {
    background-color: transparent;
    border-color: #000;
  }
}

.featured-icon {
  font-size: 1.2rem;
  line-height: 1rem;
  padding-right: 0.5rem;
}

.featured-item-text {
  text-transform: none;
}

.featured-block {
  background-color: transparentize(#222, 0.50);
  color: #eee;
}

.featured-img {
  border-bottom: 1px solid #000;
}
.card-columns {
  @include media-breakpoint-up(sm) {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
  @include media-breakpoint-up(md) {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}
