#featured {
  background: transparent;
  outline: dashed 2px transparentize($color-three, 0.7);
  outline-offset: -2rem;
  .inner {
    padding: 0 5rem 5rem 5rem;
  }
  .h {
    position: relative;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
    letter-spacing: 10px;
  }
  .featured-heading {
    letter-spacing: 2px;
    color: lighten($brand-secondary, 10%);
  }
  p {
    color: transparentize(#fff, 0.25);
    letter-spacing: 1px;
    padding-left: 1rem;
    font-size: 1.25em;
  }
}
