#featured {
  width: 100%;
  background-color: transparent;
}
.card-featured {
  background-color: transparent;
  border-color: transparent;
}

.featured-item {
  border-color: #000;
  background-color: transparent;
}

.featured-block {
  background-color: transparentize(#222, 0.50);
  color: #eee;
}

.featured-img {
  border-bottom: 1px solid #000;
}
