#landing {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  min-height: 18rem;
  flex: 1;
  @include media-breakpoint-up(lg) {
    min-height: 25rem;
  }
  h2 {
    color: $color-three;
    text-transform: uppercase;
    font-weight: 300;
    font-family: $font-secondary;
    letter-spacing: 1px;
    padding: 2rem 2rem 3rem 2rem;
    font-size: 2.3rem;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: inherit;
      align-self: center;
      font-size: 3rem;
    }
  }
  img {
    @extend .img-fluid;
  }
}

.landing-block {
  overflow-x: hidden;
}
