#landing {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  flex: 1;
  #landing-stamp {
    z-index: 15;
  }
  img {
    width: 100%;
  }
}

.landing-block {
  overflow-x: hidden;
}

#landing-stamp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  width: 60%;
  @include media-breakpoint-up(md) {
    width: 40%;
  }
}
