#showcase {
  width: 100%;
  background: #000;
}
.showcase-inner {
  position: relative;
  @include short-flex(row wrap);
  width: 100%;
  min-height: 20rem;
  outline: solid 1px #000;
  outline-offset: -1px;
  padding: ($showcase-border-size / 2);
  background-color: inherit;
  // @include media-breakpoint-up(md) {
    // @include short-flex(row wrap);
    // height: 30vh;
  // }
}
.showcase-item {
  position: relative;
  overflow: hidden;
  @include background(center, cover);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 11.25rem;
  &:nth-child(3n) {
    border-right: none;
  }
  @include media-breakpoint-up(md) {
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
  }
  .btl {
    font-size: 4em;
    z-index: 100;
    color: #C34C3B;
    font-weight: 100;
    opacity: 0;
  }
  @include media-breakpoint-up(sm) {
    min-height: 2rem;
    height: 8rem;
  }
  @include media-breakpoint-up(md) {
    width: 33.3%;
    height: 15rem;
  }
  .showcase-link-name {
    position: absolute;
    font-weight: 300;
    bottom: 0;
    right: 0;
    line-height: 1.1;
    display: flex;
    flex-flow: column nowrap;
    color: $color-two;
    text-transform: uppercase;
    background-color: transparentize(#1a1a1a, 0.15);
    padding: 0.75rem;
    height: 3.5rem;
    margin: 0;
    width: 100%;
    @include media-breakpoint-up(md) {
      border-left: solid 2px $brand-secondary;
      width: 37%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
    }
  }
}
