#showcase {
  width: 100%;
  background: $showcase-bg-color;
}
.showcase-inner {
  @include short-flex(row wrap);
  width: 100%;
  min-height: 20rem;
  padding: ($showcase-border-size / 2);
  background-color: inherit;
  @include media-breakpoint-up(md) {
    @include short-flex(row nowrap);
    height: 35vh;
  }
}
.showcase-item {
  @include short-flex(row wrap, center, center);
  @include background(center, cover);
  flex-grow: 1;
  border: ($showcase-border-size / 2) solid $showcase-border-color;
  opacity: .9;
  width: 50%;
  min-height: 11.25rem;
  &:hover {
    opacity: 1;
  }
  @include media-breakpoint-up(sm) {
    min-height: 2rem;
    height: 8rem;
  }
  @include media-breakpoint-up(md) {
    width: 20%;
    height: auto;
  }
  h3 {
    width: 100%;
    color: #fff;
    background-color: $transparent-brand-primary;
    padding: 1rem;
    margin: 0;
    @extend %light-capitalize;
    opacity: 1;
  }
}
