// catering_menu styling
#catering-menu-block {
  @include content-card;
  h3 {
    font-family: $font-secondary;
    color: $brand-secondary;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0.5rem 0 0 0;
    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }
  h4 {
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: $color-two;
  }
  h5 {
    font-family: $font-secondary;
    color: $card-bg-color;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .card-block {
    @extend .bg-transparent;
  }
}

.menu-inner-block {
  flex-grow: 1;
  @include media-breakpoint-down(sm) {
    padding: 0.25rem 0 0 0;
  }
  p {
    font-weight: 300;
    margin: 0;
    color: $color-three;
    @include media-breakpoint-down(sm) {
      font-size: 0.75rem;
    }
  }
  em {
    color: $color-four;
    font-family: $font-secondary;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: capitalize;
    font-variant: normal;
    @include media-breakpoint-down(sm) {
      font-size: 0.75rem;
    }
  }
  .blockquote {
    padding-right: 0;
    font-size: 1rem;
    border-width: 1px;
  }
}
.menu-col {
  display: flex;
  flex-flow: column nowrap;
}

.menu-footer {
  @extend .bg-transparent;
  font-family: $font-family-serif;
  font-weight: 300;
  ul {
    padding: 0;
    margin: 0;
    li {
      color: $color-three;
      padding: 1rem 0;
      letter-spacing: 1px;
      @include media-breakpoint-up(md) {
        padding: 0.5rem 0;
      }
    }
  }
}
// catering_menu index styling
.catering-menu-btn {
  display: block;
  background-color: $card-bg-color;
  border: 1px solid $card-border-color;
  transition: all 0.15s ease-out;
  h3 {
    color: $brand-secondary;
    letter-spacing: 2px;
    font-family: $font-secondary;
    text-transform: uppercase;
  }
  p {
    @extend .card-text;
  }
  i {
    margin-left: 1rem;
    font-size: 0.9em;
    line-height: 0.5;
    height: 100%;
    transition: all 0.15s ease-out;
  }
  &:hover {
    i {
      transform: translateX(100%);
    }
  }
}

.menu-lgi {
  border-top-style: dashed;
  border-top-color: $color-four;
  &:nth-child(1) {
    border-top-style: solid;
  }
}
