.produce-item {
  width: 10rem;
  color: #fff;
  display: inline-block;
  margin: 0.25rem;
  padding: 0.5rem;
  flex-grow: 2;
  background-color: transparentize(#333, 0.50);
  text-transform: capitalize;
  text-align: center;
  border: solid 1px #000;
  @include media-breakpoint-down(sm) {
    width: 25%;
  }
}
.produce-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
