#farms-block {
  background: transparent;
}
.media {
  flex-flow: column;
  @include media-breakpoint-up(md) {
    flex-flow: row;
  }
  h3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid $media-header-border-color;
    color: $color-three;
    @include media-breakpoint-up(lg) {
      flex-flow: row wrap;
      padding-top: 0;
    }
  }
  color: $color-one;
  font-weight:300;
  padding: 1.25rem;
  .media-left {
    padding: 0;
    @include media-breakpoint-up(md) {
      order: 1;
      padding-right: 1.25rem;
    }
  }
  .media-right {
    padding: 0;
    @include media-breakpoint-up(md) {
      order: 3;
      padding-left: 1.25rem;
    }
  }
  .media-body {
    width: 100%;
    @include media-breakpoint-up(md) {
      order: 2;
      width: auto;
    }
  }
}

.farm-link {
  color: $brand-secondary;
  font-size: 1rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-left: 0rem;
    margin-left: auto;
    align-self: flex-end;
  }
}

.farm-img {
  @include media-breakpoint-up(md) {
    max-width: 250px;
    margin-bottom: 1rem;
  }
  @include media-breakpoint-up(lg) {
    max-width: none;
    margin-bottom: 0;
  }
}

.farm-desc {
  @include media-breakpoint-up(md) {
    font-size: 0.9em;
  }
}
