// catering_menu styling
#catering-menu-block {
  @include content-card;
  h3 {
    @include font($font-secondary, bold, $brand-secondary);
    @include small-caps(lowercase);
  }
  h4 {
    @include small-caps(lowercase);
  }
  h5 {
    @include font($font-secondary, bold, #333);
    @include small-caps(lowercase);
  }
  .card-block {
    @extend .bg-transparent;
  }
  .list-group-fluid, .list-group-item {
    @extend .border-inverse;
  }
}

.menu-inner-block {
  flex-grow: 1;
  @include media-breakpoint-down(sm) {
    border-top: solid 1px #eee;
    padding:0.25rem;
  }
  p {
    margin: 0;
    color: #555;
    @include media-breakpoint-down(sm) {
      font-size: 0.75em;
    }
  }
  em {
    @extend .light-font;
    display: inline-block;
    text-transform: capitalize;
    font-variant: normal;
    font-size: 0.6em;
  }
}
.menu-col {
  display: flex;
  flex-flow: column nowrap;
}

.menu-footer {
  @extend .bg-transparent;
  @extend .small-caps;
  @extend .text-white;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 1rem 0;
      @include media-breakpoint-up(md) {
        padding: 0.5rem 0;
      }
    }
  }
}
// catering_menu index styling
.catering-menu-btn {
  display: block;
  background-color: transparentize(#222, 0.50);
  border: 1px solid #000;
  transition: all 0.15s ease-out;
  i {
    transition: all 0.15s ease-out;
  }
  &:hover {
    background-color: darken(transparentize(#222, 0.50), 20%);
    h2 {
      color: darken($brand-secondary, 10%);
    }
    p {
      color: darken(#fff, 25%);
    }
    i {
      transform: translateX(100%) scale(1.2);
    }
  }
}
