.catering-menu-btn {
  display: block;
  background-color: transparentize(#222, 0.50);
  border: 1px solid #000;
  transition: all 0.15s ease-in-out;
  i {
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    background-color: darken(transparentize(#222, 0.50), 20%);
    h2 {
      color: darken($brand-secondary, 10%);
    }
    p {
      color: darken(#fff, 25%);
    }
    i {
      transform: translateX(100%) scale(1.2);
    }
  }
}
