#menu-container {
  h3 {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: $spacer / 2;
  }
  .page-section-body {
    h5 {
      @extend %small-caps;
    }
  }
  .page-section-title {
    color: $brand-secondary;
  }
  .menu-section-item {
    width: 50%;
    &:nth-child(odd) {
      padding-right: 1rem;
      border-right: 2px solid darken($light-transparent, 10%);
    }
    &:nth-child(even) {
      padding-left: 1rem;
    }
    p {
      @extend .text-muted;
    }
  }
  .page-footer {
    ul {
      padding: 0em;
    }
    li {
      text-align: center;
      padding: 0.35rem;
    }
  }
}
