#philosophy-block {
  @include content-card;
  h2 {
    color: $brand-secondary;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: $font-secondary;
  }
  p {
    margin: 1rem auto;
    color: $color-one;
  }
}
