#contact-information {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  background-color: #131313;
  border-top: solid 1px #060606;
}

#contact {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-up(md) {
    align-items: flex-start;
    width: 50%;
    padding: 0 1rem;
  }
  @include media-breakpoint-up(lg) {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
  .h {
    letter-spacing: 1px;
    color: #fff;
    font-family: $font-family-sans-serif;
  }
  small {
    color: $color-three;
  }
  a {
    display: block;
    padding: 0.25rem 0;
    font-size: 1.15em;
    letter-spacing: 1px;
    color: $color-four;
  }
}

.contact-item {
  &:first-child {
    margin-bottom: 1rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
}

#social-links {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  @include media-breakpoint-up(md) {
    width: 50%;
  }
  .social-link {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    &:hover {
      i {
        background-color: darken($color-four, 2%);
      }
    }
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
  i {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #1f1f1f;
    background-color: $color-four;
    margin-right: 1rem;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 1px;
  }
}
