#contact {
  @include short-flex(column nowrap, center, center);
  background-color: transparent;
  .section-inner {
    @include short-flex(column nowrap, center, center);
    padding-bottom: 0rem;
  }
}
.contact-items {
  @include short-flex(column nowrap, center, center);
  width: 100%;
  @include media-breakpoint-up(sm) {
    @include short-flex(row nowrap, center, flex-end);
  }
}
.contact-item {
  @include short-flex(column nowrap, flex-end);
  text-align: center;
  flex-grow: 1;
  margin: 1rem 0;
  padding: 1rem 0;
  @include media-breakpoint-up(sm) {
    width: 50%;
    max-width: 20rem;
  }
  @include media-breakpoint-up(lg) {
    margin: 1rem;
  }
  a {
    font-size: 1.3em;
  }
  h4 {
    color: $color-one;
    em {
      font-weight: inherit;
    }
  }
}
.social-links {
  background: transparent;
  @include short-flex(row wrap, center);
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  font-size: 2.4em;
  a {
    @include short-flex(row nowrap, center, center);
    width: 2.1em;
    height: 2.1em;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: solid 1px transparentize(#111, 0.15);
    background-color: transparentize($color-four, 0.1);
    transition: all .2s ease;
    &:hover {
      background-color: darken($color-four, 5%);
    }
    i {
      color: transparentize(#111, 0.15);
    }
  }
}
.contact-block {
  @extend .inner-block;
  @extend .bg-transparent;
  @include short-flex(row wrap, center);
}
