<% @content_items.each do |catering_menu| %>

  <div class="card card-inverse card-primary">
    <div class="card-block"></div>
    
    <div class="list-group list-group-flush">
      <%= link_to catering_menu.name, admin_catering_menu_path(catering_menu), class: "list-group-item" %>
    </div>

  </div>

<% end %>
