<div class="heading-block">
  <h1>catering menus</h1>
  <%= link_to "add menu", new_admin_page_catering_menu_path(@page), class: "add-link" %>
</div>

<div class="card-bs-row">

  <% @page_contents[:catering_menus].each do |catering_menu| %>
    <%= render partial: "admin/catering_menu/partials/show", locals: {catering_menu: catering_menu} %>
  <% end %>

</div>
