<div class="card card-inverse card-primary">
  <div class="card-block">
    <h3 class="card-title">Content</h3>
  </div>
  <div class="list-group list-group-flush">
    <% @page_contents.each do |content| %>
      <div class="list-group-item">
        <h4><%= content.name %> </h4>
      </div>
    <% end %>
  </div>
</div>
