<div class="row">
  <div class="col-xs-12">
    <div class="card border-inverse">
      <div class="card-block bg-inverse">
        <h3 class="card-title">Admin Users</h3>
      </div>
      <div class="list-group list-group-flush">
        <% @admin_users.each do |admin_user| %>
          <div class="list-group-item border-inverse">
            <%= admin_user.email %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
