<div class="block map-block">

  <a class="map-link" href="<%= @food_truck_address.link_url %>" target="_blank">
    <i class="btl bt-map-marker"></i>
    <span class="map-link-text">Get Directions</span>
  </a>

  <div class="map-desc"><%= address.description %></div>
  
</div>
