  <div id="footer">

    <div class="logo-container">
      <%= render 'svg/bangarang_logo' %>
    </div>

    <div class="logo-description">
      <div class="logo-desc-inner-wrap">
        <h4>[ <strong>bang-</strong><em>uh</em><strong>-</strong>rang ]</h4>
        <h6>n. <small>Jamaican slang defined as an uproar, disorder, or disturbance</small></h6>
        <h6>v. <small>An exclamation meant to signify approval or amazement</small></h6>
      </div>
    </div>

  </div>
