<div class="landing-block">

  <div id="landing">
    <%= render "svg/landing_stamp" %>

    <img id="landing-img" src="<%= @landing ? @landing.image.landing.url : '' %>" alt="" />
    <div class="landing-overlay"></div>
  </div>

</div>
