.card-bs-row {
  @include make-row($gutter: 1rem);
  flex: 1;
  align-items: stretch;
  align-content: stretch;
}

.card-span-md-6 {
  @include make-col($gutter: 1rem);
  @include make-col-span(12);
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
  align-items: stretch;
  align-content: stretch;
  flex: 1;
  @include media-breakpoint-up(lg) {
    @include make-col-span(6);
  }
}

.card-span-lg-6 {
  @include make-col($gutter: 1rem);
  @include make-col-span(12);
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
  flex-grow: 1;
  align-items: stretch;
  align-content: stretch;
  @media (min-width: 90rem) {
    @include make-col-span(6);
  }
}

.card-span-12 {
  @include make-col($gutter: 1rem);
  @include make-col-span(12);
  margin-bottom: 1rem;
}

.card-col {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 1.25rem;
  align-items: stretch;
  .card-block {
    padding: 1.25rem;
  }
}

.card-content-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  flex: 1;
  @extend .b-a-1;
  background: #fff;
}

.inner-row {
  display: flex;
  flex-flow: row nowrap;
  p {
    min-height: 4.5rem;
    letter-spacing: 1px;
    margin: 0;
    strong {
      color: $gray;
    }
  }
}

.inner-block {
  p {
    letter-spacing: 1px;
    margin: 0;
    strong {
      color: $gray;
    }
  }
}

.b-a-1 {
  border: solid 1px transparentize($color-three, 0.6);
}

.card-row {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  padding: 1.25rem;
  overflow-x: hidden;
  &:last-of-type {
    margin-bottom: 0rem;
  }
  h6 {
    width: 100%;
  }
  &.half {
    width: 50%;
  }
}

.title {
  flex-grow: 0;
  letter-spacing: 1px;
  min-height: 6.5rem;
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
    color: $gray;
    margin-bottom: 0;
  }
  small {
    color: transparentize($color-three, 0.2);
  }
}

.title-text {
  border-bottom: solid 1px transparentize($color-three, 0.6);
  padding: 0.5rem 0 1rem 0;
  text-transform: capitalize;
  &.enabled {
    cursor: grab;
    border: none;
    &::after {
      content: "\F068";
      font-family: "Black Tie";
      color: transparentize($color-three, 0.2);
      font-weight: 300;
      @extend .pull-xs-right;
    }
    &:hover {
      &::after {
        color: $color-three;
      }
    }
  }
}

.sub-title-text {
  border-bottom: solid 1px transparentize($color-three, 0.8);
  padding: 0.5rem 0 1rem 0;
}

.form-block {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 1.25rem;
  max-height: 100%;
  flex-grow: 2;
  form {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    .form-group {
      &.controls {
        margin-top: auto;
        margin-bottom: 0;
      }
    }
    label {
      color: $gray;
      text-transform: capitalize;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}

.card-control {
  color: $gray;
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 2px;
  font-weight: 300;
  padding: 0 0.5rem;
  border-right: solid 1px transparentize($color-three, 0.5);
  float: left;
  &:nth-child(1) {
    padding-left: 0rem;
  }
  &.disabled {
    color: #aaa;
    cursor: not-allowed;
  }
}

.controls {
  flex-grow: 0;
  margin-top: auto;
}

strong.note {
  display: inline-block;
}

.note {
  text-transform: uppercase;
  &::before {
    display: inline-block;
    font-family: "Black Tie";
    content: "\F063";
    margin-right: 0.25rem;
    line-height: 0.87;
    height: 1rem;
    vertical-align: middle;
  }
}

.col-to-row-md {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  @include media-breakpoint-up(md) {
    flex-flow: row nowrap;
  }
  p {
    min-height: 4.5rem;
    letter-spacing: 1px;
    margin: 0;
    strong {
      color: $gray;
    }
  }
}
