#featured-head {
  height: 13.58rem;
  @include media-breakpoint-up(md) {
    height: auto;
  }
}

#toggle-sort {
  cursor: pointer;
  &::before {
    @extend .bt-fw;
    content: "\F068";
    font-family: Black Tie;
    margin-right: 0.25rem;
    margin-bottom: 0.15rem;
  }
}
#cancel-sort {
  cursor: pointer;
  display: none;
  @extend %link-danger;
  &::before {
    @extend .bt-fw;
    padding-bottom: 2px;
    content: "\F00C";
    font-family: Black Tie;
    margin-right: 0.5rem;
  }
}

#save-sort {
  cursor: pointer;
  display: none;
  @extend %link-success;
  @include media-breakpoint-up(md) {
    margin-left: auto;
  }
  &::before {
    @extend .bt-fw;
    padding-bottom: 2px;
    content: "\F012";
    font-family: Black Tie;
    margin-right: 0.5rem;
  }
}

.featured-img {
  @extend .img-thumbnail;
  margin: 0 auto 0 auto;
  @include media-breakpoint-up(md) {
    margin: 0 0 0 auto;
  }
}
