<div id="bg_1" class="bg-img active" style="background-image: url(/images/background_01.jpg);">

</div>
<div id="bg_2" class="bg-img" style="background-image: url(/images/background_02.jpg);">

</div>
<div id="bg_3" class="bg-img" style="background-image: url(/images/background_03.jpg);">

</div>
