<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
      <div class="inner-content">
        <img id="main-logo" src="/images/logo/bangarang_catering_logo.svg">
      </div>
    </div>
  </div>
</div>
