<div class="navigation-menu">
  <ul>
    <li><a href="#">home</a></li>
    <li><a href="#">our story</a></li>
    <li><a href="#">featured</a></li>
    <li><a href="#">services</a></li>
    <li><a href="#">menu</a></li>
  </ul>
</div>
<div class="contact">

  <p>contact us</p>
  <a href="tel:+15039302722">503-930-2722</a>
  <a href="mailto:bangarangpartyproductions@gmail.com">bangarangpartyproductions@gmail.com</a>

  <div class="social-links">
    <a href="#"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/chefdavebodi/" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>

</div>
