<div class="heading-block">
  <h1>produce</h1>
  <%= link_to "add produce", new_admin_page_event_produce_item_path(@page), class: "add-link" %>
</div>

<div class="card-bs-row">
  <div class="card-span-12">
    <div class="card-content-wrap">

      <div class="card-block produce">
        <% event_produce_items[:event_produce_items].each do |event_produce_item| %>

          <div class="produce-item">
            <p class="produce-paragraph"><%= event_produce_item[:name] %></p>
            <%= link_to admin_event_produce_item_path(event_produce_item), method: "delete", data: {confirm: "Are you sure you want to delete '#{event_produce_item.name.titleize}' ?"}, class: "produce-delete" do %>
              <i class="btl bt-trash"></i>
            <% end %>
          </div>

        <% end %>
      </div>

    </div>
  </div>
</div>
