// Content

#outer-content-wrap {
  @extend %no-gutter;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  width: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  @include media-breakpoint-up(lg) {
    width: 75%;
  }
  @include media-breakpoint-up(xl) {
    width: 80%;
  }
  @media (min-width: 100rem) {
    width: 83%;
  }
  #inner-content-wrap {
    margin-top: 3.75rem;
    height: auto;
    width: 100%;
    @include media-breakpoint-up(lg) {
      margin-top: 0rem;
      width:95%;
      max-width: 775px;
    }
    @include media-breakpoint-up(xl) {
      width:95%;
      max-width: 1200px;
    }
  }
}
