#featured {
  box-sizing: border-box;
  margin-top: ($grid-gutter-width / 2);
  margin-bottom: ($grid-gutter-width / 2);
}

.card-img-top {
  display: block;
  width: 100%;
  border: solid 5px $light-transparent;
  border-bottom: none;
}
.card {
  background-color: $light-transparent;
  border-top: none;
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}
.card-text {
  padding: 0rem 0.125rem;
}
.card-inverse {
  background-color: $dark-transparent;
  .card-text {
    color: $light-font-color;
  }
  .card-img-top {
    border: solid 5px #ddd;
    border-bottom: none;
  }
  .card-block {
    border: solid 5px #ddd;
    border-top: none;
  }
}
.definition {
  text-align: center;
  .card-img-top {
    padding: 1.875em 1.875em 0em 1.875em;
    border: none;
  }
}
.card-title {
  font-weight: bold;
  text-transform: capitalize;
}
