//Bottom-Grid

.featured-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#featured-container {
  width: 100%;
  height: 100%;
  .featured-items {
    display: flex;
    flex-flow: row wrap;
    color: #333;
    height: 100%;
    @include media-breakpoint-up(lg) {
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }
    .featured-item {
      height: 100%;
      width: 100%;
      background-color: $light-transparent;
      padding: 20px;
      border-bottom: 1px solid #ddd;
      font-size: 1.25em;
      @include media-breakpoint-up(md) {
        font-size: 1.25em;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
        font-size: 1em;
        border: none;
      }
      @include media-breakpoint-up(xl) {
        max-width: 700px;
        font-size: 0.9em;
      }
      .featured-title {
        font-size: 1.25em;
        @include media-breakpoint-up(sm) {
          margin-bottom: 5px;
          padding: 0px 0px 5px 0px;
          border-bottom: 1px solid #ddd;
          text-transform: capitalize;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.25em;
        }
      }
      p {
        margin: 0px;
        padding: 0px 0px 5px 0px;
      }
    }
    .featured-img {
      display: block;
      margin: 0 auto;
      box-sizing: border-box;
      border: 1px solid #222;
      width: 100%;
      max-width: 600px;
      max-height: 400px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
    }
  }
}
.definition-box {
  box-sizing: border-box;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  padding: 20px;
  margin-bottom: 60px;
  background-color: $dark-transparent;
  @include media-breakpoint-up(lg) {
    // min-width: 265px;
    margin-bottom: 20px;
  }
  @include media-breakpoint-up(xl) {
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    font-size: .9em;
    width: calc(100% - 720px);
  }
  .logo-plain {
    margin-top: 1em;
  }
}
