.main-logo-wrap {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:  25em;
  border: solid 5px #ddd;
  background-color: $transparent-brand-primary;
  margin-top: ($grid-gutter-width / 2);
  @include media-breakpoint-up(lg) {
    margin-top: 1.25em;
  }
}
.main-logo {
  width: 75%;
  @include media-breakpoint-up(md) {
    width: 60%;
  }
  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}
