#navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  &:after {
    content: none;
  }
}
.nav-brand-logo {
  height: $nav-brand-logo-height;
}
.nav-links {
  @extend .pull-xs-right;
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.nav-link {
  margin-right: 2rem;
  text-transform: uppercase;
}
