// require bootstrap-loader
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'admin_variables';
@import 'bootstrap';
@import 'admin/pages';
@import 'admin/menus';
@import 'admin/produce';
@import 'admin/landing';
@import 'admin/featured_items';

html {
  position: relative;
  @include media-breakpoint-up(xs) {
    font-size: $font-size-xs;
  }
  @include media-breakpoint-up(sm) {
    font-size: $font-size-sm;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-lg;
  }
}

.no-margin {
  margin: 0;
}
.bg-inverse {
  background-color: #333;
}
.border-inverse {
  border-color: #333;
  border-width: 1px;
}
.breadcrumb {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  margin-top: 3.375rem;
  background: #f1f1f1;
  color: #333;
  font-weight: 300;
}
.btn {
  @extend .text-capitalize;
}
.flash_messages {
  @include make-col();
  @include make-col-span(12);
}
.admin-container {
  @extend .container-fluid;
  background-color: transparent;
  padding-top: 1rem;
}

.admin-login {
  max-width: 25rem;
  margin: 0 auto;
  border-color: #ddd;
}
.card-title {
  @extend .text-capitalize;
}

.bg-light {
  background-color: #eee;
}

.card-nav {
  margin-bottom: ($grid-gutter-width / 2);
}

.card-link-success {
  color: $brand-success;
  &:hover {
    text-decoration: none;
    color: darken($brand-success, 10%);
  }
}
a:hover {
  text-decoration: none;
}
.list-group-item {
  padding: $grid-gutter-width;
}

.description {
  @extend .no-margin;
  padding: 0 1rem;
}


.list-item-footer {
  margin-top: ($spacer / 2);
}

.field_with_errors {
  @extend .has-danger;
}

.img-thumbnail {
  border-radius: 0;
}

.heading-block {
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  border: solid 1px #ddd;
  border-top: none;
  h1 {
    color: #333;
    margin: 0;
    display: inline;
    text-transform: capitalize;
  }
  a {
    padding: 0.5rem 1rem;
    background: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  .link-success {
    background: lighten($brand-success, 25%);
    color: darken($brand-success, 10%);
    &:hover {
      color: darken($brand-success, 12%);
      background: lighten($brand-success, 20%);
    }
    &::before {
      margin-right: 0.5rem;
      font-family: FontAwesome;
      content: "\f055";
    }
  }
}

.navbar {
  background: #333;
  border-bottom: solid 1px #555;
}

.figure-img {
  max-width: 40%;
  @extend .img-thumbnail;
}

.breadcrumb {
  a {
    color: $brand-secondary;
    &:hover {
      color: darken($brand-secondary, 10%);
    }
  }
}
