// require bootstrap-loader
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'black-tie/black-tie';
@import 'admin_variables';
@import 'bootstrap';
@import 'mixins';
@import 'admin/pages';
@import 'admin/menus';
@import 'admin/produce';
@import 'admin/landing';
@import 'admin/featured_items';
@import 'admin/biography_items';
@import 'admin/navbar';
@import 'admin/flash_message';
@import 'admin/event_items';
@import 'admin/service_items';

html {
  position: relative;
  @include media-breakpoint-up(xs) {
    font-size: $font-size-xs;
  }
  @include media-breakpoint-up(sm) {
    font-size: $font-size-sm;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-lg;
  }
}

%link-danger {
  color: $brand-danger;
  &:hover {
    color: darken($brand-danger, 15%);
  }
}

%link-success {
  color: $brand-success;
  &:hover {
    color: darken($brand-success, 10%);
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  font-family: $font-family-secondary;
}

strong {
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

label {
  text-transform: capitalize;
}

.btn {
  border-width: 3px;
}

.bg-inverse {
  background-color: #333;
}
.border-inverse {
  border-color: #333;
  border-width: 1px;
}
body {
  position: relative;
  margin-top: 3.375rem;
  background: #ddd;
  color: lighten($gray, 5%);
  font-weight: 300;
}
.btn {
  @extend .text-capitalize;
}

.no-grow {
  flex-grow: 0 !important;
}

.col-center-center {
  justify-content: center;
  align-items: center;
}

.link-example-list {
  font-size: 110%;
  li {
    border-bottom: 1px solid transparentize($color-three, 0.9);
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }
}

.bt-li {
  display: inline-block;
  line-height: 2.1;
  height: 100%;
  color: $gray;
  font-size: 55%;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  &::before {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
  }
}

.admin-container {
  position: relative;
  @extend .container-fluid;
  background-color: transparent;
  padding-top: 1rem;
}

.admin-login {
  max-width: 25rem;
  margin: 7rem auto 0 auto;
  border-color: #ddd;
}
.card-title {
  @extend .text-capitalize;
}

.bg-light {
  background-color: #eee;
}

.card-nav {
  margin-bottom: ($grid-gutter-width / 2);
}

.card-link-success {
  color: $brand-success;
  &:hover {
    text-decoration: none;
    color: darken($brand-success, 10%);
  }
}
a:hover {
  text-decoration: none;
}
.list-group-item {
  padding: $grid-gutter-width;
}

.description {
  @extend .m-a-0;
  padding: 0 1rem;
}


.list-item-footer {
  margin-top: ($spacer / 2);
}

.field_with_errors {
  @extend .has-danger;
}

.img-thumbnail {
  border-radius: 0;
  border-color: transparentize($color-three, 0.6);
  &.circle {
    border-radius: 50%;
  }
}

.heading-block {
  overflow: hidden;
  position: relative;
  background: $gray-dark;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 1.5rem 1.25rem;
  margin-bottom: 1rem;
  border: solid 1px transparent;
  border-top: none;
  @include media-breakpoint-up(md) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    color: $color-three;
    display: inline;
    text-transform: capitalize;
    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
  a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    @include media-breakpoint-up(md) {
      justify-content: center;
      padding: 0.5rem 1rem;
      border-top: none;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .add-link {
    @include media-breakpoint-up(md) {
      margin-left: auto;
    }
  }
}

.figure-img {
  max-width: 40%;
  @extend .img-thumbnail;
}

.breadcrumb {
  font-family: $font-family-secondary;
  background: #fff;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  li {
    height: 2rem;
    padding-top: 0.15rem;
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &.active {
      color: $color-three;
    }
    a {
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    &.active:nth-child(1) {
      &::before {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        content: "\F0CC";
        font-family: Black Tie;
        font-size: 1.4rem;
        margin-right: 0.5rem;
        margin-bottom: 0.15rem;
      }
    }
    &:nth-child(1) {
      a {
        &::before {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          content: "\F0CC";
          font-family: Black Tie;
          font-size: 1.4rem;
          margin-right: 0.5rem;
          margin-bottom: 0.15rem;
        }
      }
    }
  }
}

.breadcrumb-block {
  @extend .b-a-1;
  background: #fff;
}

.card-responsive-mid {
  padding: 1rem 1.5rem 0 1.5rem;
}

.card-responsive-btm {
  margin-top: auto;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.edit-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $brand-info;
  &:hover {
    color: darken($brand-info, 10%);
  }
  &::before {
    content: "\F025";
    font-family: Black Tie;
    margin-right: 0.25rem;
    margin-bottom: 0.15rem;
  }
}

.delete-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $brand-danger;
  &:hover {
    color: darken($brand-danger, 10%);
  }
  &.icon {
    &::before {
      content: "\F029";
      font-family: Black Tie;
      @extend .bt-fw;
      margin-right: 0.25rem;
      margin-bottom: 0.15rem;
    }
  }
}

.add-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $brand-success;
  &:hover {
    color: darken($brand-success, 10%);
  }
  &::before {
    content: "\F01C";
    font-family: Black Tie;
    @extend .bt-fw;
    margin-right: 0.25rem;
    margin-bottom: 0.15rem;
  }
}

.nav-tabs {
  letter-spacing: 1px;
  .nav-link {
    &:hover {
      background: #aaa;
      color: $gray;
    }
    &.active {
      background: $gray-dark;
      color: $color-three;
      &:hover {
        background: $gray-dark;
        color: $color-three;
      }
      &:focus {
        background: $gray-dark;
        color: $color-three;
      }
    }
  }
}

strong {
  letter-spacing: 1px;
}

small {
  font-weight: 300;
}

.modal-body {
  padding: 1rem 0;
}

.modal-lg {
  width: 100% !important;
  max-width: 900px !important;
  margin: 1rem auto;
}
