// require bootstrap-loader
@import 'black-tie/black-tie';
@import 'admin_variables';
@import 'bootstrap';
@import 'mixins';
@import 'admin/pages';
@import 'admin/menus';
@import 'admin/landing';
@import 'admin/featured_items';
@import 'admin/biography_items';
@import 'admin/navbar';
@import 'admin/flash_message';
@import 'admin/service_items';
@import 'admin/food_truck';
@import 'admin/cards';
@import 'admin/breadcrumbs';
@import 'admin/instagram_auth';

html {
  position: relative;
  @include media-breakpoint-up(xs) {
    font-size: $font-size-xs;
  }
  @include media-breakpoint-up(sm) {
    font-size: $font-size-sm;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-lg;
  }
}

body {
  position: relative;
  margin-top: 3.375rem;
  background: #ddd;
  color: lighten($gray, 5%);
  font-weight: 300;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  font-family: $font-family-secondary;
}

strong {
  font-family: $font-family-sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

label {
  text-transform: capitalize;
}

.btn {
  @extend .text-capitalize;
  border-width: 3px;
}

.no-grow {
  flex-grow: 0 !important;
}

.link-example-list {
  font-size: 110%;
  li {
    border-bottom: 1px dashed transparentize($color-three, 0.8);
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }
}

.bt-li {
  display: inline-block;
  line-height: 2.1;
  height: 100%;
  color: $gray;
  font-size: 55%;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  &::before {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
  }
}

.admin-container {
  position: relative;
  @extend .container-fluid;
  background-color: transparent;
  padding-top: 1rem;
}

.admin-login {
  max-width: 25rem;
  margin: 7rem auto 0 auto;
  border-color: #ddd;
}

.card-title {
  @extend .text-capitalize;
}

.card-nav {
  margin-bottom: ($grid-gutter-width / 2);
}

.list-group-item {
  padding: $grid-gutter-width;
}

.description {
  @extend .m-a-0;
  padding: 0 1rem;
}

.field_with_errors {
  @extend .has-danger;
}

.img-thumbnail {
  border-radius: 0;
  border-color: transparentize($color-three, 0.6);
  &.circle {
    border-radius: 50%;
  }
}

.heading-block {
  overflow: hidden;
  position: relative;
  background: $gray-dark;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 1.5rem 1.25rem;
  margin-bottom: 1rem;
  border: solid 1px transparent;
  border-top: none;
  @include media-breakpoint-up(md) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    color: $color-three;
    display: inline;
    text-transform: capitalize;
    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
  a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    @include media-breakpoint-up(md) {
      justify-content: center;
      padding: 0.5rem 1rem;
      border-top: none;
      &:last-child {
        border-bottom: none;
      }
    }
    &:first-of-type {
      @include media-breakpoint-up(md) {
        margin-left: auto;
      }
    }
  }
}

.figure-img {
  max-width: 40%;
  @extend .img-thumbnail;
}

.add-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $brand-success;
  &:hover {
    color: darken($brand-success, 10%);
  }
  &::before {
    content: "\F01C";
    font-family: Black Tie;
    @extend .bt-fw;
    margin-right: 0.25rem;
    margin-bottom: 0.15rem;
  }
}

.nav-tabs {
  letter-spacing: 1px;
  .nav-link {
    &:hover {
      background: #aaa;
      color: $gray;
    }
    &.active {
      background: $gray-dark;
      color: $color-three;
      &:hover {
        background: $gray-dark;
        color: $color-three;
      }
      &:focus {
        background: $gray-dark;
        color: $color-three;
      }
    }
  }
}

.modal-body {
  padding: 1rem 0;
}

.modal-lg {
  width: 100% !important;
  max-width: 900px !important;
  margin: 1rem auto;
}

.delete {
  @include link-icon("\F029");
}

.edit {
  @include link-icon("\F025");
}

.landing {
  @include link-icon("\F0B9");
}

.content {
  @include link-icon("\F032");
}

.name {
  @include link-icon("\F02C");
}

.add {
  @include link-icon("\F01C");
}

.address {
  @include link-icon("\F0CA");
}

.check-circle {
  @include link-icon("\F013");
}
