//NOTE: use Rails asset pipeline for development to prevent bootstrap from being recompiled each time.
// require bootstrap-loader
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'variables';
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,300,300italic);
@import 'navigation';
@import 'featured';
@import 'content';
@import 'home';
@import 'philosophy';
@import 'services';
@import 'menu';

// Global Styling
html {
  @include media-breakpoint-up(xs) {
    font-size: $font-size-xs;
  }
  @include media-breakpoint-up(sm) {
    font-size: $font-size-sm;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-lg;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-size: inherit !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-up(lg) {
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-attachment: fixed;
    background-image: url("/images/background/background_02.jpg");
  }
}
ul {
  list-style: none;
}
a {
  font-family: $font-family-secondary;
}
em,p {
  font-weight: 300;
}
strong {
  font-family: $font-family-secondary;
}
.btn {
  text-transform: capitalize;
}
.main-wrap {
  box-sizing: border-box;
  padding-top: 3.75em;
  background-color: transparent;
  width: 100%;
  min-height: 100vh;
  @include media-breakpoint-up(lg) {
    padding-top: 0em;
    width: calc(100% - 18.75em);
  }
}
.section-title {
  box-sizing: border-box;
  padding: 1.25rem;
  color: #fff;
  background-color: $dark-transparent;
  text-align: center;
}
