//NOTE: use Rails asset pipeline for development to prevent bootstrap from being recompiled each time.
// require bootstrap-loader
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'variables';
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic|Abel);
@import 'navigation';
@import 'bottom-grid';
@import 'content';
// Global Styling
body {
  background-image: image-url("background_a.jpg");
  background-size: cover;
}
ul {
  list-style: none;
  text-transform: uppercase;
}
a {
  font-family: $font-family-secondary;
}
em {
  font-weight: 300;
}
.btn {
  text-transform: uppercase;
  // padding: 0px;
  // text-align: center;
  // height: 35px;
  // line-height: 35px;
}
.no-gutter {
  padding: 0;
}
.col-lg-offset-half {
  @include media-breakpoint-up(lg) {
    margin-left: calc(8.33333% / 2);
  }
}
