<div class="mobile-nav-wrap">
  <div id="mobile-nav"></div>
</div>


<nav id="navbar" class="navbar navbar-full navbar-fixed-top"></nav>

<div id="main-wrap">
  <div id="content"></div>

  <section id="contact"></section>

  <div id="footer"></div>
</div>
