<div id="background-carousel">

</div>

<div class="nav-wrap">
  <div id="navigation">
  </div>
</div>

<div id="mobile-nav-bar">

</div>

<div class="content-wrap">
  <div id="content-container" class="container">

    <div id="content" class="row">
    </div>

    <div id="featured" class="row">
    </div>

  </div>
</div>
