<div id="main-wrap" class="container-fluid">

  <div id="background-carousel">
  </div>

  <div id="nav-collapse" class="row">

    <div id="mobile-nav">
    </div>

    <div id="navigation">
    </div>

    <!-- content -->
    <div id="outer-content-wrap">
      <div id="inner-content-wrap">

        <div id="home-container">
        </div>

        <div id="featured-container">
        </div>

      </div>
    </div>
    <!-- /content -->

  </div>
</div>
