<div id="main-wrap" class="container-fluid">
  <img id="img-fade" src="/images/background_01.jpg">
</img>
  <div id="secondary-wrap" class="row">

      <div id="mobile-nav">

      </div>

      <!-- navigation -->
      <div id="navigation">
      </div>
      <!-- /navigation -->

      <!-- content -->
      <div id="outer-content-wrap">
        <div id="inner-content-wrap">

          <div id="home-container">
          </div>

          <div id="featured-container">
          </div>

        </div>
      </div>
      <!-- /content -->

  </div>
</div>
