<nav class="navbar navbar-full navbar-fixed-top">


  <div class="nav navbar-nav">
    <%= link_to "Bangarang Admin", admin_root_path, class: "navbar-brand" %>
    <% if admin_signed_in? %>
      <%= link_to(destroy_admin_session_path, method: :delete, class: "admin-link") do %>
        <i class="btl bt-sign-out"></i>Sign Out
      <% end %>
    <% end %>
  </div>

</nav>
